name: "Sync labels"

on:
  push:
    branches:
      - main
    paths:
      - .github/other-configurations/labels.yml
  workflow_dispatch:

permissions: {}

jobs:
  configure-labels:
    name: Configure Labels
    permissions:
      contents: read
      pull-requests: write
    uses: JackPlowman/reusable-workflows/.github/workflows/common-sync-labels.yml@3108e71d84bdf3f50512f378742e2602f1d74628 # v2025.12.19.03
    secrets:
      workflow_github_token: ${{ secrets.GITHUB_TOKEN }}
